.form-navigator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  padding: 25px 0;
  width: 100%;
  font-size: 14px;
  line-height: 26px;
  color: var(--dark);
}

.form-navigator a {
  color: var(--orange);
  text-decoration: none;
  transition: color 300ms ease-in;
}

.form-navigator a:hover {
  color: var(--dark);
}
.form-navigator-title {
  display: inline-block;
  margin-right: 5px;
}
