.product {
  background-color: var(--white);
  border-radius: 4px;
  padding: 4px;
  border: 1px solid var(--grey);
}

.product-preview {
  border-radius: 4px;
  max-width: 201px;
  max-height: 147px;
  cursor: pointer;
}

.product-data {
  position: relative;
  padding: 0 8px;
}

.product-data .product-title {
  font-size: 15px;
  line-height: 22px;
  color: var(--dark);
  margin-top: 6px;
  margin-bottom: 2px;
  font-weight: 400;
  cursor: pointer;
}

.product-data .product-price {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #101010;
  cursor: pointer;
}
