.passwordFieldWrapper {
  display: flex;
  align-items: center;
}

input[type="password"] {
  width: 100%;
  display: block;
  background: transparent;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.4px;
  color: var(--light-dark);
  padding: 10px 45px 10px 12px;
}

.showPassword {
  margin-left: -35px;
  margin-top: 5px;
  display: inline-block;
  cursor: pointer;
}
